Import

In [2]:
import os
import pandas as pd

Check which files you have in the data folder

In [4]:
print(os.listdir("Datafiles"))

['Account Report - Mon Jul 04 2022.xlsx', 'Asset Report - Mon Jul 04 2022.xlsx', 'Employee Report - Mon Jul 04 2022.xlsx']

Create short names for the files

In [5]:
# USE new_name = pd.read_excel('Folder/filename.xlsx') .... foldername if folder(s) is inside the main folder that carries the IPYNB file.
# make sure the files to be read are not open in excel
account = pd.read_excel('Datafiles/Account Report - Mon Jul 04 2022.xlsx', sheet_name = 2)
assets = pd.read_excel('Datafiles/Asset Report - Mon Jul 04 2022.xlsx')
employees = pd.read_excel('Datafiles/Employee Report - Mon Jul 04 2022.xlsx', sheet_name = 4)

#check data

assets.head()

,Respondent ID,Gender,Age,Number of children,Marital Status,Country of Residence,Citizenship,Firm ID,Sector type,Date firm established,Age of Firm,Number of Owners,Owner/s Gender,Number of Employees,Industry,Location in the Country
0,4874,Female,51,1,Single,Colombia,Colombia,BG-SH-GO-2823,AD-01,dd/01/2007,Longer than 10 years,1,All women,5,Light Manu,Bogotá
1,4875,Male,43,0,Single,Colombia,Colombia,BDS-BG-UQ-GH-3615,V-01,01/02/1997,Longer than 10 years,1,All men,14,Light Manu,Bogotá
2,4876,Male,35,1,Married,Colombia,Colombia,BG--GO-3181,AD-02,25/06/2010,Longer than 10 years,1,All men,1,Other,Bogotá
3,4878,Male,50,3,Single,Colombia,Colombia,BG-SH-GO-3425,G-02,2020,3 - 4 years,1,All women,3,Light Manu,Bogotá
4,4879,Female,42,4,Single,Colombia,Colombia,BG-EB-GH-3175,U-01,01/05/2003,Longer than 10 years,1,All women,3,Other,Bogotá

Check the column names we have

In [6]:
print(account.columns)

Index(['Respondent ID', 'Gender', 'Age', 'Number of children',
       'Marital Status', 'Country of Residence', 'Citizenship', 'Firm ID',
       'Sector type', 'Date firm established', 'Age of Firm',
       'Number of Owners', 'Owner/s Gender', 'Number of Employees', 'Industry',
       'Location in the Country', 'Account report data ID',
       'Account report account name', 'Account report deposit/withdrawal',
       'Account report amount', 'Account report currency',
       'Account report date', 'Account report data type',
       'Account report surveyor', 'Account report date created',
       'Account report last updated', 'Account report edit count',
       'Account report description', 'Account report tag'],
      dtype='object')

In [7]:
print(assets.columns)

Index(['Respondent ID', 'Gender', 'Age', 'Number of children',
       'Marital Status', 'Country of Residence', 'Citizenship', 'Firm ID',
       'Sector type', 'Date firm established', 'Age of Firm',
       'Number of Owners', 'Owner/s Gender', 'Number of Employees', 'Industry',
       'Location in the Country'],
      dtype='object')

In [8]:
print(employees.columns)

Index(['Respondent ID', 'Gender', 'Age', 'Number of children',
       'Marital Status', 'Country of Residence', 'Citizenship', 'Firm ID',
       'Sector type', 'Date firm established', 'Age of Firm',
       'Number of Owners', 'Owner/s Gender', 'Number of Employees', 'Industry',
       'Location in the Country', 'Employee payment data ID',
       'Employee payment employee name', 'Employee payment income sources',
       'Employee payment hours worked', 'Employee payment amount',
       'Employee payment currency', 'Employee payment date',
       'Employee payment account', 'Employee payment account report ID',
       'Employee payment transaction type', 'Employee payment type',
       'Employee payment surveyor', 'Employee payment date created',
       'Employee payment last updated', 'Employee payment edit count',
       'Employee payment description', 'Employee payment tag'],
      dtype='object')

Identify columns that we need

In [9]:
account = account[["Respondent ID","Firm ID","Account report date","Account report amount"]]
employees = employees[["Respondent ID","Firm ID","Employee payment date created","Employee payment amount"]]

account = account.rename(columns = {"Firm ID":"firm_id",
                                    "Account report date":"date",
                                    "Account report amount":"amount"})

employees = employees.rename(columns = {
    "Respondent ID":"respondent_id",
    "Firm ID":"firm_id",
    "Employee payment date created":"date",
    "Employee payment amount":"amount"
})

In [10]:
#check how many rows and columns the data has
print(account.shape,employees.shape)

(43326, 4) (11831, 4)

In [13]:
#create a new column that will show you where the data is coming from
account["file"] = "account"
employees["file"] = "employees"

Final_by_FK = pd.concat((account,employees)) #create a consolidated file
Final_by_FK.shape

(55157, 6)

In [14]:
#check to see if it worked
Final_by_FK.head()

   Respondent ID        firm_id        date     amount     file  respondent_id
0         4874.0  BG-SH-GO-2823  2021-06-02  3000000.0  account            NaN
1         4874.0  BG-SH-GO-2823  2021-06-03   500000.0  account            NaN
2         4874.0  BG-SH-GO-2823  2021-06-03   800000.0  account            NaN
3         4874.0  BG-SH-GO-2823  2021-06-03  1030000.0  account            NaN
4         4874.0  BG-SH-GO-2823  2021-06-04  3600000.0  account            NaN

Export New File

In [16]:
Final_by_FK.to_excel("Outputs by Faith/consolidated.xlsx") #path/nameofthefileyouwant.xlsx